{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Check your answer Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>This is a new service <span>&nbsp;- your <a target="_blank"
          href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a>
        will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
      <span style="float:right; font-size:16px; margin-top: 30px;">
        <a href="help" target="_blank" rel="noopener noreferrer">Help</a>
      </span>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="form">
        <form id="appform" role="form" method="post">
          <fieldset>
            <h1 class="heading-large">
              <span class="heading-secondary">Register to apply for a maternity exemption certificate</span>
              Check your answers
            </h1>

            <!-- only add a heading for a list if there is more than one list -->

            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->

            <dl class="govuk-check-your-answers cya-questions-long">
              <div>
                <dt class="cya-question">
                  Name
                </dt>
                <dd class="cya-answer">
                  Sarah Phillips
                </dd>
                <dd class="cya-change">
                  <a class="link-right" href="#">
                    Change<span class="visually-hidden">Your name</span>
                  </a>
                </dd>
              </div>

              <div>
                <dt class="cya-question">
                  NHS email address
                </dt>
                <dd class="cya-answer">
                  yourname@nhs.net
                </dd>
                <dd class="cya-change">
                  <a class="link-right" href="#">
                    Change<span class="visually-hidden"> Email address</span>
                  </a>
                </dd>
              </div>

              <div>
                <dt class="cya-question cya-questions-long">
                  NMC pin number
                </dt>
                <dd class="cya-answer">
                  1111111111
                </dd>
                <dd class="cya-change">
                  <a class="link-right" href="#">
                    Change<span class="visually-hidden"> NMC pin number</span>
                  </a>
                </dd>
              </div>

              <div>
                <dt class="cya-question">
                  Date of birth
                </dt>
                <dd class="cya-answer">
                  10 October 1984
                </dd>
                <dd class="cya-change">
                  <a class="link-right" href="#">
                    Change<span class="visually-hidden">Your DOB</span>
                  </a>
                </dd>
              </div>

            </dl>
            <br>
            <br>

            <div class="notice form-group">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-medium">
                Confirmation
              </strong>
              <p></p>
            </div>

            <div class="multiple-choice multiple-radio">
              <input id="confirm" name="confirm" type="checkbox" value="true">
              <label for="confirm">I confirm that the information provided is correct </label>
            </div>
            <br>
            <div class="form-group">
              <a class="button" href="reg-done" id="submit">Confirm and submit</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <style>
    .link-right {
      margin-right: 15px;
    }
  </style>
</main>

{% endblock %}