{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Done Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span>&nbsp;- your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="done-panel">
        <h1 class="heading-xlarge"><span id="done-tick"></span>Done</h1>
        <h2 class="heading-large"><span class="heading-secondary" style="color: white;">You have completed your
            registration.</span></h2>
      </div>
      <h2 class="heading-medium">What happens next</h2>
      <p>You can now sign in to apply for maternity exemption certificate for new and expectant mothers.</p>

      <p>Use your NHS email and password to login to use this service.</p>
      <p>If you have any trouble accessing the service contact (who?)</p>

      <p>
        <a class="button" href="sign-in-auth" role="button">Sign in</a>
      </p>

      <div style="background-color:#dee0e2; padding:20px 40px;">
        <h3 class="heading-small">PROTOTYPE ONLY</h3>
        <p>Click <a href="/">here</a> to return to the index page.</p>
      </div>
    </div>
  </div>
  
</main>

{% endblock %}