{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
      <span style="float:right; font-size:16px; margin-top: 30px;">
        <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
      </span>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">Register to issue maternity exemption certificates</span>
        What happens next

      </h1>


      <p>To complete your registration, you now need to:</p>
      <ul class='list list-bullet'>
        <li>Sign in to your NHSmail account</li>
        <li>Select <span style="font-weight:bold"> Accept </span>when asked to review permissions
        
      </ul>
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span
            class="summary">Why do you need my permission?</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>We use Microsoft to link your @nhs.net email address to our services. We need your permission to do this. <br> <br>
            If you select <span style="font-weight:bold">Cancel</span> when asked to Review permissions</span> 
            we will not be able to complete your registration. </p>
          <p></p>
        </div>
      </details>

      <br>

      <div class="form-group">
        <a class="button" href="sign-in-auth.html" id="continue">Sign in</a>
      </div>



      <br>
      <div style="background-color:#dee0e2; padding:20px 40px;">
        <h3 class="heading-small">PROTOTYPE ONLY</h3>
        <p>Click <a href="/">here</a> to return to the index page.</p>
      </div>
    </div>

  </div>

</main>

{% endblock %}