{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
      <span style="float:right; font-size:16px; margin-top: 30px;">
        <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
      </span>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="done-panel no-tick">


        <h2 style="font-weight: 400;" class="heading-small">

          Based on what you've told us

        </h2>

        <h2 class="heading-large">

          We cannot complete your registration

        </h2>

      </div>
      <div class="notice form-group">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          We are unable to find your professional body number in ESR
        </strong>
      </div>

      <h2 class="heading-medium">

        What happens next

      </h2>

      <p>Recheck your information and try registering again. </p>
      <p>If the problem continues email : <a href>nhsbsa.healthcosts@nhs.net.</a> </p>
      
      <p>
        <a class="button" href="check-answer-nmc" role="button">Try again</a>
      </p>

      <div style="background-color:#dee0e2; padding:20px 40px;">
        <h3 class="heading-small">PROTOTYPE ONLY</h3>
        <p>Click <a href="/">here</a> to return to the index page.</p>
      </div>
    </div>

  </div>

</main>

{% endblock %}