{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
        <strong class="phase-tag">BETA</strong>
        This service is closed
        </p> 
    </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="page-header--sub heading-secondary">Apply for a maternity exemption</span>
        This version of the digital service is no longer available 
      </h1>

      <p>This version of the digital service is now closed and cannot be accessed.</p>

      <p>To continue issuing digital maternity exemption certificates, you’ll need to register again on our new service using your NHSmail address.</p>
        <div class="panel panel-border-wide">
            <p>Registering online is easy and takes less than 5 minutes.</p>
        </div>
      <h2 class="heading-medium">Why you need to register again</h2>

      <p>As part of our digital pilot, we let a small group of users register for the service without an NHSmail address.  </p>

      <p>
        As NHSmail now forms part of our verification process, all users must use NHSmail to register and sign in.
      </p>

      <p>You now have two options:</p>

      <ul class="list list-bullet">
        <li><a href="https://digital.nhs.uk/services/nhsmail#start-using-nhsmail">Register for this service online</a> using your @nhs.net email address to begin issuing certificates instantly</li>
        <li>Complete FW8 paper applications and post them back to us</li>
      </uL>
     
      <p><a href="https://support.nhs.net/">I don’t have an NHSmail account</a></p>
     
    
      
  
    </div>
    
  </div>

</main>

{% endblock %}
