{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>
    <div class="grid-row">
        <div class="column-full">
          <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <span style="float:right; font-size:16px; margin-top: 30px;">
              <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
        </span> 
        </div>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Registering for an NHSmail account
      </h1>
      <p>If you are an individual member of staff working in a Trust or other organisation that already uses NHSmail 
        and you wish to register an account, you should contact your local administrator or IT helpdesk.</p>

      <p> <a href="https://support.nhs.net/knowledge-base/registering-for-an-nhsmail-account/"> Read more about how to join NHSmail.
        </a></p>

      

    </div>
    
  </div>

</main>

{% endblock %}
