{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v9 -->
<!-- Register is a secondary acton, should it be below the fold, what do we do with it? -->
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service<span>&nbsp;- your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p> 
  </div>
  <div class="grid-row">
      <div class="column-full">
        <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="#" rel="noopener noreferrer">Help</a>
      </span> 
      </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin-bottom: 30px; margin-top: 20px;">
          <span class="heading-secondary">Sign up to issue maternity exemption certificates</span>
          Sorry, there is a problem with the service
      </h1>

   
      <p>Try again later.</p>

      <p>We have not saved your answers. When the service is available, you will have to start again.</p>
      <p>Alternatively, you can still sign up to issue maternity exemption certificates by emailing <a href="mailto: nhsbsa.healthcosts@nhs.net"> nhsbsa.healthcosts@nhs.net</a> with your:</p>
      
      <ul class='list list-bullet'>
          <li>last name</li>
          <li>NMC PIN </li>
          <li>date of birth </li>
          <li>NHSmail address</li>
          </ul>
      <br>
    
  
     
    </div>      
  </div>
</main>

{% endblock %}


