{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
      <span style="float:right; font-size:16px; margin-top: 30px;">
        <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
      </span>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            <span class="heading-secondary">Register to issue maternity exemption certificates</span>
            You've been verified
  
          </h1>
 
      <p>We have verified your professional identity.</p>

      <h2 class="heading-medium">

        What happens next

      </h2>
      <p>To complete your registration, you now need to:</p>
      <ul class='list list-bullet'>
          <li>Enter your NHSmail address on the Microsoft Sign in page</li>
          <li>Sign in to your NHSmail account</li>
          <li>Select accept when asked to review permission (this is to enable us to match your details with information that ESR holds on you)</li>
          
          </ul>

      <div class="form-group">
        <a class="button" href="ms-login" id="continue">Sign in</a>
      </div>

      <br>




      <br>
      <div style="background-color:#dee0e2; padding:20px 40px;">
        <h3 class="heading-small">PROTOTYPE ONLY</h3>
        <p>Click <a href="/">here</a> to return to the index page.</p>
      </div>
    </div>

  </div>

</main>

{% endblock %}