{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

	<div class="grid-row">
		<div class="column-full">
			<a href="javascript:history.go(-1)" class="link-back">Back</a>
			<span style="float:right; font-size:16px; margin-top: 30px;">
				<a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
			</span>
		</div>
	</div>
  

  <div class="grid-row">
    <div class="column-two-thirds">

      
      <h1 class="heading-large">
        <span class="heading-secondary">Register to use the maternity exemption certificate service</span>
        Is this your NHSmail address?
      </h1>
      
      <div class="panel panel-border-narrow">

        <p class="heading-medium">{{ data['emailnhs'] }}</p>

      </div>


      <br>

      <form action="emailconfirmnhs-handler" method="get" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="emailconfirm" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="emailconfirm" value="no">
              <label for="no">No</label>
            </div>

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>




    </div>
  </div>
</main>


{% endblock %}