{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Done Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span>&nbsp;- your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="done-panel">
        <h1 class="heading-xlarge"><span id=""></span>Confirm your email</h1>
        <h2 class="heading-large"><span class="heading-secondary" style="color: white;">A new verification email has been sent to '{{ data['emailnhs'] }}'   
            </span></h2>
      </div>
      <h2 class="heading-medium">What happens next</h2>
      <ul class='list list-bullet'>

          <li>We have sent an email with a verification link to your email address. Please allow 5-10 minutes for this message to arrive.</li>
          <li>You need to click the link in your verification email to proceed with your registration.</li>
          <li>The verification email will expire in 24 hours.</li>
        </ul>
     
      <form action="emailnhs-handler" method="get" class="form">
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I have not received the email</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>Check your junk / spam folder. If the email is not there you can request to  <a href="email-sent-again.html">re-send email again</a> </p>
         
        </div> 
      </details>

      <details class="details-login" role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Use a
              different NHSmail address</span></summary>
  
              <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                  <label class="form-label" for="emailnhs">NHSmail address</label>
                  <input class="form-control" id="emailnhs" name="emailnhs" type="text">
                </div>
               
  
                    <div class="form-group">
                        <input class="button" type="submit" value="Next">
                      </div>
        </details>



      <br>
      <br>

      <div style="background-color:#dee0e2; padding:20px 40px;">
        <h3 class="heading-small">PROTOTYPE ONLY</h3>
        <p>Click <a href="/">here</a> to return to the index page.</p>
      </div>
    </div>
  </div>
  
</main>

{% endblock %}