{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Done Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span>&nbsp;- your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="heading-secondary">Register to apply for a maternity exemption
          certificate</span>
        Check your email
      </h1>
      <p>We have re-sent an email with a verification link to <span
          style="font-weight:bold">{{ data['emailnhs'] }}</span> </p>

      <h2 class="heading-medium">What happens next</h2>
      
      <p>Check your NHSmail and follow the verification link to continue with your registration.</p>
        <p>The verification email will expire within 24 hours.</p>

      <form action="emailnhs-handler" method="get" class="form">
        <details class="details-login" role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I have
              not received the email</span></summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <ul class='list list-bullet'>
                  <li>Allow 5-10 minutes for this message to arrive</li>
                  <li>Check your junk or spam folder. If the email is not there you can 
                      <a href="email-sent-again.html">resend the verification email</a> </p> </li>
                  </ul>

          </div>
        </details>

        <details class="details-login" role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">My NHSmail address is incorrect
              </span></summary>

          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
            <label class="form-label" for="emailnhs">NHSmail address</label>
            <input class="form-control" id="emailnhs" name="emailnhs" type="text">
          </div>


          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </details>



        <br>
        <br>

        <div style="background-color:#dee0e2; padding:20px 40px;">
          <h3 class="heading-small">PROTOTYPE ONLY</h3>
          <p>Click <a href="/">here</a> to return to the index page.</p>
        </div>
    </div>
  </div>

</main>

{% endblock %}