{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
      <span style="float:right; font-size:16px; margin-top: 30px;">
        <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
      </span>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="heading-secondary">Register to issue maternity exemption certificates</span>
        What you'll need
      </h1>

      <p>Use this service to register to issue maternity exemption certificates on behalf of new or expectant mothers.</p>
      <p>You must be a midwife, practice nurse or health visitor registered with the NMC to create an account.</p>
      <p>To help us verify your professional identity, we'll ask for your:</p>

      <ul class="list list-bullet">
        <li>last name</li>
        <li>date of birth </li>
        <li>NMC PIN </li>
        <li>NHSmail account address</li>
      </uL>

      <p>Registration takes less than 5 minutes.</p>

      <p>
        <a class="button" href="nhsmail" role="button">Start registration</a>
      </p>

      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Already registered?</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>If you’re already registered select <span style="font-weight:bold">Start application</span> to begin applying for maternity exemption certificates.</p>
          <p><a class="button" href="#" role="button">Start application</a></p>
        </div>
      </details>
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I do not have an NHSmail account</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>If you're working in a Trust or organisation that uses NHSmail, you can contact your local administrator or IT helpdesk to set up an account.</p>
          <p> <a href="https://portal.nhs.net/Help/joiningnhsmail">Read more about how to join NHSmail</a>.</p>
        </div>
      </details>
      <details class="details-login" role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I'm a GP with a GMC reference number</span></summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
            <p>You can still register to use this service.</p>
            <p>To register, email  <a href="mailto: nhsbsa.healthcosts@nhs.net"> nhsbsa.healthcosts@nhs.net </a>and include your: 
              <li>name</li>
              <li>GMC reference number</li>
              <li>NHSmail address</li>
              <br>
              <p> Once we’ve received this information, we’ll email you to confirm you are registered. You will then be able to use the online service.
                </p>

          </div>
        </details>




    </div>

  </div>

</main>

{% endblock %}