{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
      <span style="float:right; font-size:16px; margin-top: 30px;">
        <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
      </span>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="heading-secondary">Register to apply for a maternity exemption certificate</span>
        What you'll need
      </h1>

      <p>Use this service to register to apply for maternity exemption certificate .</p>
      <p>You must be a Midwife, GP or Health Visitor who is registered with the NMC or GMC to create an account.</p>
      <p>To register we will ask information about your:</p>

      <ul class="list list-bullet">
        <li>name</li>
        <li>date of birth (if you are NMC registered)</li>
        <li>NMC/GMC number</li>
        <li>NHS email address</li>
      </uL>

      <p>Registration takes around 5 minutes.</p>

      <p>
        <a class="button" href="nhsmail" role="button">Continue</a>
      </p>

      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I have an account</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>Use your NHSmail account details to sign in.</p>
          <p><a class="button" href="#" role="button">Start</a></p>
        </div>
      </details>
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I do not have an NHSmail account</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>If you're working in a trust or organisation that uses NHSmail, you can contact your Local Administrator or IT Helpdesk to set up an account.</p>
          <p>For more information on joining NHSmail visit the <a href="https://portal.nhs.net/Help/joiningnhsmail">NHSmail help page</a>.</p>
        </div>
      </details>

    </div>

  </div>

</main>

{% endblock %}