
{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Issue maternity exemption certificate service</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Before you continue
        </h1>
        <p>Help us improve our record.
          We will ask you this only once.
        </p>
        <h2 class="page-header--lede heading-medium" style="margin-bottom: 0.5555555556em;">What professional registration do you hold? </h2>
      </header>
     
    <!--   <div class="panel panel-border-wide"> -->
    
   <!--   </div> -->

      <form action="nmcgmc-handler" method="get" class="form">

        <div class="form-group">

          
            <br>
          
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="nmcgmc" value="nmc">
              <label for="yes">Nursing and Midwifery Council (NMC)</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="nmcgmc" value="gmc">
              <label for="no">General Medical Council (GMC)</label>
            </div>

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}