{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Matex Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service - your <a target="" href="#"> feedback</a> will help us to improve it.
      </p> 
    </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>This service allows midwives, practice nurses or health visitors to issue maternity exemption certificates on behalf of new or expectant mothers.</p>
      <p>A maternity exemption certificate entitles the mother to free prescriptions:</p>

      <ul class="list list-bullet">
        <li>while pregnant</li>
        <li>12 months after giving birth
      </uL>
      </p>To complete this application you'll need the mother's:</p>
     
      <ul class="list list-bullet">
        <li>name</li>
        <li> date of birth</li>
        <li>expected delivery date or actual delivery date </li>
        <li>email or postal address</li>
      </uL>
      <br>
      <div class="notice form-group">
        <i class="icon icon-important">
         <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You’ll need to register to use this service.
        </strong>
      </div>
     
        <a class="button button-start" href="sign-in-auth" role="button">Sign in</a>
      </p>

     
    
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I am new to this service</span></summary>
        <div class="panel panel-border-narrow">
          <p>To use this service you must:</p>
          <ul class="list list-bullet">
            <li>be a midwife, practice nurse or health visitor</li>
            <li>be registered with the Nursing and Midwifery Council (NMC)</li>
            <li>have an NHSmail account</li>
          </ul>
          <p><a href="../email-validation/no-matex.html">Register to use this service</a></p>
          <p><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Read more about maternity exemption certificates on our website.</a></p>
        </div> 
      </details>
      <!-- ./ -->
      
  
    </div>
   
  </div>

</main>

{% endblock %}
