{% extends "layout_bsa.html" %}

{% block page_title %}
  Maternity Exemption-MATEX prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Apply for Maternity Exemption Certificate</span>
          Prototype 
        </h1>

  <h2 class="heading-medium">Common pages</h2>

  <table>
    <thead>
      <tr>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="signed-in/start-page">Signed In</a></td>
        <td>Start page if signed in</td>
      </tr>

      <tr>
        <td><a href="not-signed-in/start-page">Not signed in</a></td>
        <td>Start page if not signed in</td>
      </tr>

      <tr>
          <td><a href="new-registration/start-page">New Matex registration</a></td>
          <td>Start page if new registration</td>
        </tr>

        <tr>
          <td><a href="matex-down/sign-in-auth">Matex down</a></td>
          <td>Start page if new registration</td>
        </tr>
      

       
    </tbody>
  </table>

  
  </div>

</div>

</main>

{% endblock %}


