{% extends "layout_bsa.html" %}

{% block page_title %}
  Maternity Exemption-MATEX prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div style="background-color: #DEE0E2; padding: 25px 25px 1px 25px; margin-top:15px;">
        <div class="notice" style="margin-bottom:25px;">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
                This page is a PROTOTYPE and therefore is not as robust as the live service
            </strong>
        </div>
    </div>

  <div class="grid-row">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Apply for Maternity Exemption Certificate</span>
          Prototype 
        </h1>

  
  
  <table>
    <thead>
      <tr>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="signed-in/start-page">Signed In</a></td>
        <td>Start page if signed in</td>
      </tr>

      <tr>
        <td><a href="not-signed-in/start-page">Not signed in</a></td>
        <td>Start page if not signed in</td>
      </tr>

      <tr>
          <td><a href="new-registration/start-page">New Matex registration</a></td>
          <td>Start page if new registration</td>
        </tr>

        <tr>
          <td><a href="matex-down/sign-in-auth">Matex down</a></td>
          <td>Matex down</td>
        </tr>
      

       
    </tbody>
  </table>

  
  </div>

</div>

</main>

{% endblock %}


