{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Matex Prototype Error
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

        <div id="validation" class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There is a problem</h1>
            <ul class="error-summary-list">
                <li><a href="">Enter your NHSmail address in the correct format, for example name@nhs.net.</a></li>
            </ul>
        </div>

        <h1 class="heading-large">
            <span class="heading-secondary">Register to issue maternity exemption certificates</span>
            What is your NHSmail address?
          </h1>

      <form action="emailnhs-handler" method="get" class="form">
<br>
        <legend class="visuallyhidden">What’s your email?</legend>

        <div class="form-group error">
            <label id="label-nhsEmailAddress" class="visually-hidden" for="nhsEmailAddress">Enter NHSmail address</label>
            <span class="form-hint" id="question-hint">Your NHSmail address should end in @nhs.net</span>
            <span class="error-message"><span id="field-error-item-nhsEmailAddress">Enter your NHSmail address in the correct format, for example name@nhs.net</span></span>
            <input class="form-control form-input" id="nhsEmailAddress" name="nhsEmailAddress" type="text" autocomplete="email" value="">
        </div>

   
      
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}




 